
nextflow.enable.dsl=2
docker.enabled = true

params {
    
    // Macro to all optional task inputs 
    // (do not alter unless you know what you are doing)
    NULL = 'NULL'

    // WORKFLOW OUTPUT DIRECTORY
    outdir  = './outputs'

    // INPUTS (MANDATORY)
    in_sampleinfo                 = NULL  // (MANDATORY generic file)  
    in_seqdata                    = NULL  // (MANDATORY generic file)  
    limma_voom_limma_voom_script  = NULL  // (MANDATORY generic file)  


}
