
nextflow.enable.dsl=2
docker.enabled = true

params {
    
    // Macro to all optional task inputs 
    // (do not alter unless you know what you are doing)
    NULL = 'NULL'

    // WORKFLOW OUTPUT DIRECTORY
    outdir  = './outputs'

    // INPUTS (MANDATORY)
    in_long      = NULL  // (MANDATORY generic file)  
    in_short_r1  = NULL  // (MANDATORY generic file)  
    in_short_r2  = NULL  // (MANDATORY generic file)  


}
